body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1347px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1590 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1347px;
  height:1039px;
}
#u1590_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1347px;
  height:1039px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1590_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1590_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1347px;
  height:1039px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u1590_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1347px;
  height:885px;
}
#u1591 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:154px;
  width:1347px;
  height:885px;
  display:flex;
  font-size:12px;
}
#u1591 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1591_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1592_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1347px;
  height:70px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.0980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#F60068;
  text-align:right;
}
#u1592 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:84px;
  width:1347px;
  height:70px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#F60068;
  text-align:right;
}
#u1592 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1592_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1593_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1347px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.988235294117647);
  border:none;
  border-bottom:0px;
  border-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:right;
}
#u1593 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:24px;
  width:1347px;
  height:60px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:right;
}
#u1593 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1593_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1137px;
  height:725px;
}
#u1594 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:234px;
  width:1137px;
  height:725px;
  display:flex;
}
#u1594 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1594_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1595_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:15px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1595 {
  border-width:0px;
  position:absolute;
  left:1082px;
  top:201px;
  width:160px;
  height:33px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1595 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1595_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1596_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.349019607843137);
}
#u1596 {
  border-width:0px;
  position:absolute;
  left:824px;
  top:213px;
  width:1px;
  height:20px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.349019607843137);
}
#u1596 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1596_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u1597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(140, 140, 140, 0.996078431372549);
  text-align:right;
}
#u1597 {
  border-width:0px;
  position:absolute;
  left:987px;
  top:279px;
  width:136px;
  height:20px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(140, 140, 140, 0.996078431372549);
  text-align:right;
}
#u1597 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1597_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1598_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:34px;
  padding:2px 5px 2px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#555555;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1598_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:34px;
  padding:2px 5px 2px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#555555;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1598_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#555555;
  text-align:center;
}
#u1598 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:302px;
  width:320px;
  height:34px;
  display:flex;
  font-size:14px;
  color:#555555;
  text-align:center;
}
#u1598 .text {
  position:absolute;
  align-self:center;
  padding:2px 5px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1598_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:34px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#555555;
  text-align:center;
}
#u1598.disabled {
}
#u1599_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(246, 0, 104, 1);
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#F60068;
}
#u1599 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:644px;
  width:140px;
  height:44px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#F60068;
}
#u1599 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1599_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(246, 0, 104, 1);
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#F60068;
}
#u1599.mouseOver {
}
#u1599_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1600_input {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:68px;
  padding:2px 5px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:rgba(0, 0, 0, 0.349019607843137);
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u1600_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:68px;
  padding:2px 5px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:rgba(0, 0, 0, 0.349019607843137);
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u1600_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:2px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.349019607843137);
  text-align:right;
}
#u1600 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:526px;
  width:901px;
  height:68px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.349019607843137);
  text-align:right;
}
#u1600 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 5px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1600_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:68px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:2px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.349019607843137);
  text-align:right;
}
#u1600.disabled {
}
#u1601_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-style:normal;
  text-align:right;
}
#u1601 {
  border-width:0px;
  position:absolute;
  left:1073px;
  top:506px;
  width:51px;
  height:20px;
  display:flex;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-style:normal;
  text-align:right;
}
#u1601 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1601_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1602_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:80px;
  padding:2px 2px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#555555;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1602_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:80px;
  padding:2px 2px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#555555;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1602_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1602 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:302px;
  width:320px;
  height:80px;
  display:flex;
}
#u1602 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1602_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:80px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1602.disabled {
}
.u1602_input_option {
  font-weight:400;
  font-style:normal;
}
#u1603_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-style:normal;
  text-align:right;
}
#u1603 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:279px;
  width:72px;
  height:20px;
  display:flex;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-style:normal;
  text-align:right;
}
#u1603 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1603_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1604_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-style:normal;
  text-align:right;
}
#u1604 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:409px;
  width:135px;
  height:20px;
  display:flex;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-style:normal;
  text-align:right;
}
#u1604 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1604_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1605_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:34px;
  padding:2px 5px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#8C8C8C;
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1605_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:34px;
  padding:2px 5px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#8C8C8C;
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8C8C8C;
  text-align:right;
}
#u1605 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:432px;
  width:320px;
  height:34px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8C8C8C;
  text-align:right;
}
#u1605 .text {
  position:absolute;
  align-self:center;
  padding:2px 5px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1605_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:34px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8C8C8C;
  text-align:right;
}
#u1605.disabled {
}
#u1606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-style:normal;
  text-align:right;
}
#u1606 {
  border-width:0px;
  position:absolute;
  left:989px;
  top:409px;
  width:135px;
  height:20px;
  display:flex;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-style:normal;
  text-align:right;
}
#u1606 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1606_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1607_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:34px;
  padding:2px 5px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#8C8C8C;
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1607_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:34px;
  padding:2px 5px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#8C8C8C;
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1607_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8C8C8C;
  text-align:right;
}
#u1607 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:432px;
  width:320px;
  height:34px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8C8C8C;
  text-align:right;
}
#u1607 .text {
  position:absolute;
  align-self:center;
  padding:2px 5px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1607_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:34px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8C8C8C;
  text-align:right;
}
#u1607.disabled {
}
#u1608 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:739px;
  width:901px;
  height:140px;
}
#u1609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:35px;
}
#u1609 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1609 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1609_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:35px;
}
#u1610 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:0px;
  width:140px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1610 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1610_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:35px;
}
#u1611 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:0px;
  width:166px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1611 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1611_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:35px;
}
#u1612 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:0px;
  width:146px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1612 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1612_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:35px;
}
#u1613 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:0px;
  width:185px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1613 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1613_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:35px;
}
#u1614 {
  border-width:0px;
  position:absolute;
  left:802px;
  top:0px;
  width:99px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1614 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1614_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:35px;
}
#u1615 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:165px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(85, 85, 85, 0.996078431372549);
}
#u1615 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1615_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:35px;
}
#u1616 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:35px;
  width:140px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(85, 85, 85, 0.996078431372549);
}
#u1616 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1616_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:35px;
}
#u1617 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:35px;
  width:166px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(85, 85, 85, 0.996078431372549);
}
#u1617 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1617_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:35px;
}
#u1618 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:35px;
  width:146px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(85, 85, 85, 0.996078431372549);
}
#u1618 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1618_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:35px;
}
#u1619 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:35px;
  width:185px;
  height:35px;
  display:flex;
  font-size:14px;
  color:rgba(85, 85, 85, 0.996078431372549);
}
#u1619 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1619_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:35px;
}
#u1620 {
  border-width:0px;
  position:absolute;
  left:802px;
  top:35px;
  width:99px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(85, 85, 85, 0.996078431372549);
}
#u1620 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1620_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:35px;
}
#u1621 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:165px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline ;
  color:rgba(0, 0, 255, 0.996078431372549);
}
#u1621 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1621_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:35px;
}
#u1622 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:70px;
  width:140px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline ;
  color:rgba(0, 0, 255, 0.996078431372549);
}
#u1622 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1622_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:35px;
}
#u1623 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:70px;
  width:166px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(85, 85, 85, 0.996078431372549);
}
#u1623 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1623_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1624_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:35px;
}
#u1624 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:70px;
  width:146px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(85, 85, 85, 0.996078431372549);
}
#u1624 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1624_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:35px;
}
#u1625 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:70px;
  width:185px;
  height:35px;
  display:flex;
  font-size:14px;
  color:rgba(85, 85, 85, 0.996078431372549);
}
#u1625 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1625_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:35px;
}
#u1626 {
  border-width:0px;
  position:absolute;
  left:802px;
  top:70px;
  width:99px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(85, 85, 85, 0.996078431372549);
}
#u1626 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1626_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:35px;
}
#u1627 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:105px;
  width:165px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline ;
  color:rgba(0, 0, 255, 0.996078431372549);
}
#u1627 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1627_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:35px;
}
#u1628 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:105px;
  width:140px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline ;
  color:rgba(0, 0, 255, 0.996078431372549);
}
#u1628 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1628_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:35px;
}
#u1629 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:105px;
  width:166px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(85, 85, 85, 0.996078431372549);
}
#u1629 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1629_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:35px;
}
#u1630 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:105px;
  width:146px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(85, 85, 85, 0.996078431372549);
}
#u1630 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1630_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:35px;
}
#u1631 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:105px;
  width:185px;
  height:35px;
  display:flex;
  font-size:14px;
  color:rgba(85, 85, 85, 0.996078431372549);
}
#u1631 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1631_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:35px;
}
#u1632 {
  border-width:0px;
  position:absolute;
  left:802px;
  top:105px;
  width:99px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(85, 85, 85, 0.996078431372549);
}
#u1632 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1632_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:54px;
}
#u1633 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:92px;
  width:61px;
  height:54px;
  display:flex;
}
#u1633 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1633_img.mouseOver {
}
#u1633.mouseOver {
}
#u1633_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1634_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum Bold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1634 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:99px;
  width:120px;
  height:40px;
  display:flex;
  font-family:'Yekan Bakh FaNum Bold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1634 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1634_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum Bold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1634.mouseOver {
}
#u1634_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1635_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum Bold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#503953;
  text-align:right;
}
#u1635 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:109px;
  width:82px;
  height:18px;
  display:flex;
  font-family:'Yekan Bakh FaNum Bold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#503953;
  text-align:right;
}
#u1635 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1635_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1636_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1347px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 235, 59, 0.988235294117647);
  border:none;
  border-bottom:0px;
  border-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u1636 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1347px;
  height:25px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u1636 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u1636_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1637_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum Bold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1637 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:99px;
  width:120px;
  height:40px;
  display:flex;
  font-family:'Yekan Bakh FaNum Bold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1637 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1637_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum Bold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1637.mouseOver {
}
#u1637_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
