@font-face {
  font-family: '200-YekanBakh-Thin';
  src: url('fonts/200-YekanBakh-Thin.ttf') format('truetype');
}

@font-face {
  font-family: '300-YekanBakh-Light';
  src: url('fonts/300-YekanBakh-Light.ttf') format('truetype');
}

@font-face {
  font-family: '400-YekanBakh-Regular';
  src: url('fonts/400-YekanBakh-Regular.ttf') format('truetype');
}

@font-face {
  font-family: '500-YekanBakh-SemiBold';
  src: url('fonts/500-YekanBakh-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: '600-YekanBakh-Bold';
  src: url('fonts/600-YekanBakh-Bold.ttf') format('truetype');
}

@font-face {
  font-family: '700-YekanBakh-ExtraBold';
  src: url('fonts/700-YekanBakh-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: '800-YekanBakh-Black';
  src: url('fonts/800-YekanBakh-Black.ttf') format('truetype');
}

@font-face {
  font-family: '900-YekanBakh-ExtraBlack';
  src: url('fonts/900-YekanBakh-ExtraBlack.ttf') format('truetype');
}

@font-face {
  font-family: 'YekanBakh-Black';
  src: url('fonts/YekanBakh-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'YekanBakh-Bold';
  src: url('fonts/YekanBakh-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'YekanBakh-ExtraBlack';
  src: url('fonts/YekanBakh-ExtraBlack.ttf') format('truetype');
}

@font-face {
  font-family: 'BYekan';
  src: url('fonts/BYekan.truetype') format('ttf');
}