body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:381px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u11832 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:95px;
  width:381px;
  height:395px;
}
#u11832_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:395px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11832_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11832_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:395px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u11832_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:370px;
}
#u11833 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:25px;
  width:381px;
  height:370px;
  display:flex;
}
#u11833 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11833_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11834_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:36px;
  padding:2px 5px 2px 2px;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#797979;
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u11834_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:36px;
  padding:2px 5px 2px 2px;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#797979;
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u11834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:36px;
}
#u11834 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:178px;
  width:280px;
  height:36px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#797979;
  text-align:right;
}
#u11834 .text {
  position:absolute;
  align-self:center;
  padding:2px 5px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11834_img.disabled {
}
#u11834.disabled {
}
#u11835 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:68px;
  width:228px;
  height:32px;
}
#u11835_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11835_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11836_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum ExtraBlack', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:950;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u11836 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:32px;
  display:flex;
  font-family:'Yekan Bakh FaNum ExtraBlack', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:950;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u11836 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11836_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum SemiBold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:600;
  font-style:normal;
  color:rgba(85, 85, 85, 0.996078431372549);
  text-align:right;
}
#u11837 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:155px;
  width:122px;
  height:23px;
  display:flex;
  font-family:'Yekan Bakh FaNum SemiBold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:600;
  font-style:normal;
  color:rgba(85, 85, 85, 0.996078431372549);
  text-align:right;
}
#u11837 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11837_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11838_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:36px;
  padding:2px 5px 2px 2px;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#797979;
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u11838_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:36px;
  padding:2px 5px 2px 2px;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#797979;
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u11838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:36px;
}
#u11838 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:252px;
  width:280px;
  height:36px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#797979;
  text-align:right;
}
#u11838 .text {
  position:absolute;
  align-self:center;
  padding:2px 5px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11838_img.disabled {
}
#u11838.disabled {
}
#u11839_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum SemiBold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:600;
  font-style:normal;
  color:rgba(85, 85, 85, 0.996078431372549);
  text-align:right;
}
#u11839 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:229px;
  width:122px;
  height:23px;
  display:flex;
  font-family:'Yekan Bakh FaNum SemiBold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:600;
  font-style:normal;
  color:rgba(85, 85, 85, 0.996078431372549);
  text-align:right;
}
#u11839 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11839_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(249, 115, 22, 0.729411764705882);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u11840 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:322px;
  width:80px;
  height:30px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u11840 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11840_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(249, 115, 22, 0.729411764705882);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u11840.mouseOver {
}
#u11840_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11841_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.729411764705882);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#555555;
}
#u11841 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:322px;
  width:80px;
  height:30px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#555555;
}
#u11841 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11841_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.729411764705882);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#555555;
}
#u11841.mouseOver {
}
#u11841_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11842_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum SemiBold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:10px;
  color:rgba(217, 0, 27, 0.996078431372549);
  text-align:center;
}
#u11842 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:102px;
  width:280px;
  height:38px;
  display:flex;
  font-family:'Yekan Bakh FaNum SemiBold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:10px;
  color:rgba(217, 0, 27, 0.996078431372549);
  text-align:center;
}
#u11842 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11842_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11843_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 235, 59, 0.988235294117647);
  border:none;
  border-bottom:0px;
  border-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u11843 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:25px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u11843 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u11843_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
