body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1347px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1186 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1347px;
  height:1039px;
}
#u1186_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1347px;
  height:1039px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1186_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1186_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1347px;
  height:1039px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u1186_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1347px;
  height:885px;
}
#u1187 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:154px;
  width:1347px;
  height:885px;
  display:flex;
  font-size:12px;
}
#u1187 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1187_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1347px;
  height:70px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.0980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#F60068;
  text-align:right;
}
#u1188 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:84px;
  width:1347px;
  height:70px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#F60068;
  text-align:right;
}
#u1188 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1188_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1347px;
  height:60px;
  background:inherit;
  background-color:rgba(80, 57, 83, 0.988235294117647);
  border:none;
  border-bottom:0px;
  border-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:right;
}
#u1189 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:24px;
  width:1347px;
  height:60px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:right;
}
#u1189 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1189_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(85, 85, 85, 0.996078431372549);
}
#u1190 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:201px;
  width:44px;
  height:24px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(85, 85, 85, 0.996078431372549);
}
#u1190 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1137px;
  height:725px;
}
#u1191 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:234px;
  width:1137px;
  height:725px;
  display:flex;
}
#u1191 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1191_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:33px;
  background:inherit;
  background-color:rgba(236, 61, 82, 1);
  border:none;
  border-radius:15px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1192 {
  border-width:0px;
  position:absolute;
  left:1082px;
  top:201px;
  width:160px;
  height:33px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1192 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1192_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.349019607843137);
}
#u1193 {
  border-width:0px;
  position:absolute;
  left:824px;
  top:213px;
  width:1px;
  height:20px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.349019607843137);
}
#u1193 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1193_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u1194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(140, 140, 140, 0.996078431372549);
  text-align:right;
}
#u1194 {
  border-width:0px;
  position:absolute;
  left:987px;
  top:279px;
  width:136px;
  height:20px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(140, 140, 140, 0.996078431372549);
  text-align:right;
}
#u1194 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1195_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:34px;
  padding:2px 5px 2px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#555555;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1195_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:34px;
  padding:2px 5px 2px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#555555;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#555555;
  text-align:center;
}
#u1195 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:302px;
  width:320px;
  height:34px;
  display:flex;
  font-size:14px;
  color:#555555;
  text-align:center;
}
#u1195 .text {
  position:absolute;
  align-self:center;
  padding:2px 5px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1195_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:34px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#555555;
  text-align:center;
}
#u1195.disabled {
}
#u1196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(246, 0, 104, 1);
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#F60068;
}
#u1196 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:644px;
  width:140px;
  height:44px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#F60068;
}
#u1196 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1196_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(246, 0, 104, 1);
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#F60068;
}
#u1196.mouseOver {
}
#u1196_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1197_input {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:68px;
  padding:2px 5px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:rgba(0, 0, 0, 0.349019607843137);
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u1197_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:68px;
  padding:2px 5px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:rgba(0, 0, 0, 0.349019607843137);
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u1197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:2px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.349019607843137);
  text-align:right;
}
#u1197 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:526px;
  width:901px;
  height:68px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.349019607843137);
  text-align:right;
}
#u1197 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 5px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1197_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:68px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:2px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.349019607843137);
  text-align:right;
}
#u1197.disabled {
}
#u1198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-style:normal;
  text-align:right;
}
#u1198 {
  border-width:0px;
  position:absolute;
  left:1073px;
  top:506px;
  width:51px;
  height:20px;
  display:flex;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-style:normal;
  text-align:right;
}
#u1198 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1198_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1199_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:80px;
  padding:2px 2px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#555555;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1199_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:80px;
  padding:2px 2px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#555555;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1199 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:302px;
  width:320px;
  height:80px;
  display:flex;
}
#u1199 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1199_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:80px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1199.disabled {
}
.u1199_input_option {
  font-weight:400;
  font-style:normal;
}
#u1200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-style:normal;
  text-align:right;
}
#u1200 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:279px;
  width:72px;
  height:20px;
  display:flex;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-style:normal;
  text-align:right;
}
#u1200 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1200_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-style:normal;
  text-align:right;
}
#u1201 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:409px;
  width:135px;
  height:20px;
  display:flex;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-style:normal;
  text-align:right;
}
#u1201 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1201_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1202_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:34px;
  padding:2px 5px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#8C8C8C;
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1202_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:34px;
  padding:2px 5px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#8C8C8C;
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8C8C8C;
  text-align:right;
}
#u1202 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:432px;
  width:320px;
  height:34px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8C8C8C;
  text-align:right;
}
#u1202 .text {
  position:absolute;
  align-self:center;
  padding:2px 5px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1202_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:34px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8C8C8C;
  text-align:right;
}
#u1202.disabled {
}
#u1203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-style:normal;
  text-align:right;
}
#u1203 {
  border-width:0px;
  position:absolute;
  left:989px;
  top:409px;
  width:135px;
  height:20px;
  display:flex;
  font-family:'B Yekan Bold', 'B Yekan Regular', 'B Yekan', sans-serif;
  font-style:normal;
  text-align:right;
}
#u1203 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1203_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1204_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:34px;
  padding:2px 5px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#8C8C8C;
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1204_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:34px;
  padding:2px 5px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#8C8C8C;
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8C8C8C;
  text-align:right;
}
#u1204 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:432px;
  width:320px;
  height:34px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8C8C8C;
  text-align:right;
}
#u1204 .text {
  position:absolute;
  align-self:center;
  padding:2px 5px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1204_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:34px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8C8C8C;
  text-align:right;
}
#u1204.disabled {
}
#u1205 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:739px;
  width:901px;
  height:140px;
}
#u1206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:35px;
}
#u1206 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1206 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1206_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:35px;
}
#u1207 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:0px;
  width:140px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1207 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1207_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:35px;
}
#u1208 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:0px;
  width:166px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1208 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1208_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:35px;
}
#u1209 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:0px;
  width:146px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1209 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1209_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:35px;
}
#u1210 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:0px;
  width:185px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1210 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1210_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:35px;
}
#u1211 {
  border-width:0px;
  position:absolute;
  left:802px;
  top:0px;
  width:99px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1211 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1211_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:35px;
}
#u1212 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:165px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(85, 85, 85, 0.996078431372549);
}
#u1212 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1212_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:35px;
}
#u1213 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:35px;
  width:140px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(85, 85, 85, 0.996078431372549);
}
#u1213 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1213_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:35px;
}
#u1214 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:35px;
  width:166px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(85, 85, 85, 0.996078431372549);
}
#u1214 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1214_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:35px;
}
#u1215 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:35px;
  width:146px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(85, 85, 85, 0.996078431372549);
}
#u1215 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1215_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:35px;
}
#u1216 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:35px;
  width:185px;
  height:35px;
  display:flex;
  font-size:14px;
  color:rgba(85, 85, 85, 0.996078431372549);
}
#u1216 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1216_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:35px;
}
#u1217 {
  border-width:0px;
  position:absolute;
  left:802px;
  top:35px;
  width:99px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(85, 85, 85, 0.996078431372549);
}
#u1217 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1217_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:35px;
}
#u1218 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:165px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline ;
  color:rgba(0, 0, 255, 0.996078431372549);
}
#u1218 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1218_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:35px;
}
#u1219 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:70px;
  width:140px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline ;
  color:rgba(0, 0, 255, 0.996078431372549);
}
#u1219 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1219_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:35px;
}
#u1220 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:70px;
  width:166px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(85, 85, 85, 0.996078431372549);
}
#u1220 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1220_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:35px;
}
#u1221 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:70px;
  width:146px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(85, 85, 85, 0.996078431372549);
}
#u1221 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1221_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:35px;
}
#u1222 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:70px;
  width:185px;
  height:35px;
  display:flex;
  font-size:14px;
  color:rgba(85, 85, 85, 0.996078431372549);
}
#u1222 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1222_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:35px;
}
#u1223 {
  border-width:0px;
  position:absolute;
  left:802px;
  top:70px;
  width:99px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(85, 85, 85, 0.996078431372549);
}
#u1223 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1223_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:35px;
}
#u1224 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:105px;
  width:165px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline ;
  color:rgba(0, 0, 255, 0.996078431372549);
}
#u1224 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1224_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:35px;
}
#u1225 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:105px;
  width:140px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline ;
  color:rgba(0, 0, 255, 0.996078431372549);
}
#u1225 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1225_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:35px;
}
#u1226 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:105px;
  width:166px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(85, 85, 85, 0.996078431372549);
}
#u1226 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1226_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:35px;
}
#u1227 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:105px;
  width:146px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(85, 85, 85, 0.996078431372549);
}
#u1227 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1227_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:35px;
}
#u1228 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:105px;
  width:185px;
  height:35px;
  display:flex;
  font-size:14px;
  color:rgba(85, 85, 85, 0.996078431372549);
}
#u1228 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1228_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:35px;
}
#u1229 {
  border-width:0px;
  position:absolute;
  left:802px;
  top:105px;
  width:99px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(85, 85, 85, 0.996078431372549);
}
#u1229 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1229_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:54px;
}
#u1230 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:92px;
  width:61px;
  height:54px;
  display:flex;
}
#u1230 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1230_img.mouseOver {
}
#u1230.mouseOver {
}
#u1230_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(80, 57, 83, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1231 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:99px;
  width:120px;
  height:40px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1231 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1231_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(80, 57, 83, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1231.mouseOver {
}
#u1231_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum Bold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#503953;
  text-align:right;
}
#u1232 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:110px;
  width:82px;
  height:18px;
  display:flex;
  font-family:'Yekan Bakh FaNum Bold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#503953;
  text-align:right;
}
#u1232 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1232_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1347px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 235, 59, 0.988235294117647);
  border:none;
  border-bottom:0px;
  border-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u1233 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1347px;
  height:25px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u1233 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u1233_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
