body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:381px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u13439 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:95px;
  width:381px;
  height:408px;
}
#u13439_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:408px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13439_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13439_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:408px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u13439_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:383px;
}
#u13440 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:25px;
  width:381px;
  height:383px;
  display:flex;
}
#u13440 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13440_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13441_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:36px;
  padding:2px 5px 2px 2px;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#797979;
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13441_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:36px;
  padding:2px 5px 2px 2px;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#797979;
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:36px;
}
#u13441 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:163px;
  width:280px;
  height:36px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#797979;
  text-align:right;
}
#u13441 .text {
  position:absolute;
  align-self:center;
  padding:2px 5px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13441_img.disabled {
}
#u13441.disabled {
}
#u13442 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:53px;
  width:228px;
  height:32px;
}
#u13442_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13442_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum ExtraBlack', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:950;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u13443 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:32px;
  display:flex;
  font-family:'Yekan Bakh FaNum ExtraBlack', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:950;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u13443 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13443_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum SemiBold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:600;
  font-style:normal;
  color:rgba(85, 85, 85, 0.996078431372549);
  text-align:right;
}
#u13444 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:140px;
  width:122px;
  height:23px;
  display:flex;
  font-family:'Yekan Bakh FaNum SemiBold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:600;
  font-style:normal;
  color:rgba(85, 85, 85, 0.996078431372549);
  text-align:right;
}
#u13444 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13444_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13445_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:36px;
  padding:2px 5px 2px 2px;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#797979;
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13445_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:36px;
  padding:2px 5px 2px 2px;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#797979;
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:36px;
}
#u13445 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:237px;
  width:280px;
  height:36px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#797979;
  text-align:right;
}
#u13445 .text {
  position:absolute;
  align-self:center;
  padding:2px 5px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13445_img.disabled {
}
#u13445.disabled {
}
#u13446_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum SemiBold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:600;
  font-style:normal;
  color:rgba(85, 85, 85, 0.996078431372549);
  text-align:right;
}
#u13446 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:214px;
  width:122px;
  height:23px;
  display:flex;
  font-family:'Yekan Bakh FaNum SemiBold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:600;
  font-style:normal;
  color:rgba(85, 85, 85, 0.996078431372549);
  text-align:right;
}
#u13446 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13446_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13447_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(220, 38, 38, 0.729411764705882);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u13447 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:337px;
  width:80px;
  height:30px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u13447 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13447_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(220, 38, 38, 0.729411764705882);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u13447.mouseOver {
}
#u13447_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13448_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.729411764705882);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#555555;
}
#u13448 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:337px;
  width:80px;
  height:30px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#555555;
}
#u13448 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13448_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.729411764705882);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#555555;
}
#u13448.mouseOver {
}
#u13448_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13449_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum SemiBold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:6px;
  color:rgba(217, 0, 27, 0.996078431372549);
  text-align:right;
}
#u13449 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:298px;
  width:265px;
  height:10px;
  display:flex;
  font-family:'Yekan Bakh FaNum SemiBold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:6px;
  color:rgba(217, 0, 27, 0.996078431372549);
  text-align:right;
}
#u13449 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13449_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13450 label {
  left:0px;
  width:100%;
}
#u13450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u13450 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:296px;
  width:13px;
  height:16px;
  display:flex;
}
#u13450 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u13450_img.selected {
}
#u13450.selected {
}
#u13450_img.disabled {
}
#u13450.disabled {
}
#u13450_img.selectedDisabled {
}
#u13450.selectedDisabled {
}
#u13450_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:-3px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13450_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u13451_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 235, 59, 0.988235294117647);
  border:none;
  border-bottom:0px;
  border-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u13451 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:25px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u13451 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u13451_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
