body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:381px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u13431 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:95px;
  width:381px;
  height:408px;
}
#u13431_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:408px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13431_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13431_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:408px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u13431_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:383px;
}
#u13432 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:25px;
  width:381px;
  height:383px;
  display:flex;
}
#u13432 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13432_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13433_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:36px;
  padding:2px 5px 2px 2px;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#797979;
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13433_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:36px;
  padding:2px 5px 2px 2px;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#797979;
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:36px;
}
#u13433 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:163px;
  width:280px;
  height:36px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#797979;
  text-align:right;
}
#u13433 .text {
  position:absolute;
  align-self:center;
  padding:2px 5px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13433_img.disabled {
}
#u13433.disabled {
}
#u13434 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:53px;
  width:228px;
  height:32px;
}
#u13434_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13434_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13435_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum ExtraBlack', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:950;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u13435 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:32px;
  display:flex;
  font-family:'Yekan Bakh FaNum ExtraBlack', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:950;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u13435 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13435_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13436_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum SemiBold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:600;
  font-style:normal;
  color:rgba(85, 85, 85, 0.996078431372549);
  text-align:right;
}
#u13436 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:140px;
  width:122px;
  height:23px;
  display:flex;
  font-family:'Yekan Bakh FaNum SemiBold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:600;
  font-style:normal;
  color:rgba(85, 85, 85, 0.996078431372549);
  text-align:right;
}
#u13436 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13436_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13437_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:36px;
  padding:2px 5px 2px 2px;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#797979;
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13437_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:36px;
  padding:2px 5px 2px 2px;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  letter-spacing:normal;
  color:#797979;
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:36px;
}
#u13437 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:237px;
  width:280px;
  height:36px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#797979;
  text-align:right;
}
#u13437 .text {
  position:absolute;
  align-self:center;
  padding:2px 5px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13437_img.disabled {
}
#u13437.disabled {
}
#u13438_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum SemiBold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:600;
  font-style:normal;
  color:rgba(85, 85, 85, 0.996078431372549);
  text-align:right;
}
#u13438 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:214px;
  width:122px;
  height:23px;
  display:flex;
  font-family:'Yekan Bakh FaNum SemiBold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:600;
  font-style:normal;
  color:rgba(85, 85, 85, 0.996078431372549);
  text-align:right;
}
#u13438 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13438_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13439_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(220, 38, 38, 0.729411764705882);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u13439 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:337px;
  width:80px;
  height:30px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u13439 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13439_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(220, 38, 38, 0.729411764705882);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u13439.mouseOver {
}
#u13439_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13440_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.729411764705882);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#555555;
}
#u13440 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:337px;
  width:80px;
  height:30px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#555555;
}
#u13440 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13440_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.729411764705882);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#555555;
}
#u13440.mouseOver {
}
#u13440_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum SemiBold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:6px;
  color:rgba(217, 0, 27, 0.996078431372549);
  text-align:right;
}
#u13441 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:298px;
  width:265px;
  height:10px;
  display:flex;
  font-family:'Yekan Bakh FaNum SemiBold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:6px;
  color:rgba(217, 0, 27, 0.996078431372549);
  text-align:right;
}
#u13441 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13441_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13442 label {
  left:0px;
  width:100%;
}
#u13442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u13442 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:296px;
  width:13px;
  height:16px;
  display:flex;
}
#u13442 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u13442_img.selected {
}
#u13442.selected {
}
#u13442_img.disabled {
}
#u13442.disabled {
}
#u13442_img.selectedDisabled {
}
#u13442.selectedDisabled {
}
#u13442_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:-3px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13442_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u13443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 235, 59, 0.988235294117647);
  border:none;
  border-bottom:0px;
  border-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u13443 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:25px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u13443 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u13443_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
