body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1905px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u327 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1905px;
  height:515px;
}
#u327_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1905px;
  height:515px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u327_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u327_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1905px;
  height:515px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u327_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u328_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1905px;
  height:70px;
}
#u328 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:84px;
  width:1905px;
  height:70px;
  display:flex;
  font-family:'Yekan Bakh FaNum Bold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#F60068;
  text-align:right;
}
#u328 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u328_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u329_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1905px;
  height:245px;
}
#u329 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:153px;
  width:1905px;
  height:245px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u329 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u329_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u330_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1905px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-bottom:0px;
  border-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum Bold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:right;
}
#u330 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:24px;
  width:1905px;
  height:60px;
  display:flex;
  font-family:'Yekan Bakh FaNum Bold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:right;
}
#u330 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u330_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u331_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum Bold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u331 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:101px;
  width:120px;
  height:40px;
  display:flex;
  font-family:'Yekan Bakh FaNum Bold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u331 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u331_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum Bold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u331.mouseOver {
}
#u331_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u332_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:54px;
}
#u332 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:94px;
  width:61px;
  height:54px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#503953;
}
#u332 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u332_img.mouseOver {
}
#u332.mouseOver {
}
#u332_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u333_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum Bold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#503953;
  text-align:right;
}
#u333 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:110px;
  width:101px;
  height:18px;
  display:flex;
  font-family:'Yekan Bakh FaNum Bold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#503953;
  text-align:right;
}
#u333 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u333_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u334 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:205px;
  width:1735px;
  height:107px;
}
#u335_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:35px;
}
#u335 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:35px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6C6161;
}
#u335 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u335_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u336_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:35px;
}
#u336 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:0px;
  width:285px;
  height:35px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6C6161;
}
#u336 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u336_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u337_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:35px;
}
#u337 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:0px;
  width:474px;
  height:35px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6C6161;
}
#u337 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u337_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u338_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:35px;
}
#u338 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:0px;
  width:256px;
  height:35px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6C6161;
}
#u338 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u338_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:35px;
}
#u339 {
  border-width:0px;
  position:absolute;
  left:1336px;
  top:0px;
  width:182px;
  height:35px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6C6161;
}
#u339 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u339_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u340_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:35px;
}
#u340 {
  border-width:0px;
  position:absolute;
  left:1518px;
  top:0px;
  width:153px;
  height:35px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6C6161;
}
#u340 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u340_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u341_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:35px;
}
#u341 {
  border-width:0px;
  position:absolute;
  left:1671px;
  top:0px;
  width:74px;
  height:35px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6C6161;
}
#u341 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u341_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:36px;
}
#u342 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:321px;
  height:36px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline ;
  color:rgba(32, 0, 255, 0.996078431372549);
}
#u342 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u342_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:36px;
}
#u343 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:35px;
  width:285px;
  height:36px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(140, 140, 140, 0.996078431372549);
}
#u343 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u343_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:36px;
}
#u344 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:35px;
  width:474px;
  height:36px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(140, 140, 140, 0.996078431372549);
}
#u344 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u344_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u345_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:36px;
}
#u345 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:35px;
  width:256px;
  height:36px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8C8C8C;
}
#u345 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u345_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:36px;
}
#u346 {
  border-width:0px;
  position:absolute;
  left:1336px;
  top:35px;
  width:182px;
  height:36px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(140, 140, 140, 0.996078431372549);
}
#u346 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u346_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u347_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:36px;
}
#u347 {
  border-width:0px;
  position:absolute;
  left:1518px;
  top:35px;
  width:153px;
  height:36px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(140, 140, 140, 0.996078431372549);
}
#u347 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u347_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:36px;
}
#u348 {
  border-width:0px;
  position:absolute;
  left:1671px;
  top:35px;
  width:74px;
  height:36px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(140, 140, 140, 0.996078431372549);
}
#u348 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u348_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:36px;
}
#u349 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:71px;
  width:321px;
  height:36px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline ;
  color:rgba(32, 0, 255, 0.996078431372549);
}
#u349 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u349_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u350_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:36px;
}
#u350 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:71px;
  width:285px;
  height:36px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(140, 140, 140, 0.996078431372549);
}
#u350 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u350_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:36px;
}
#u351 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:71px;
  width:474px;
  height:36px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(140, 140, 140, 0.996078431372549);
}
#u351 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u351_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:36px;
}
#u352 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:71px;
  width:256px;
  height:36px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8C8C8C;
}
#u352 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u352_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:36px;
}
#u353 {
  border-width:0px;
  position:absolute;
  left:1336px;
  top:71px;
  width:182px;
  height:36px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(140, 140, 140, 0.996078431372549);
}
#u353 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u353_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:36px;
}
#u354 {
  border-width:0px;
  position:absolute;
  left:1518px;
  top:71px;
  width:153px;
  height:36px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(140, 140, 140, 0.996078431372549);
}
#u354 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u354_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:36px;
}
#u355 {
  border-width:0px;
  position:absolute;
  left:1671px;
  top:71px;
  width:74px;
  height:36px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(140, 140, 140, 0.996078431372549);
}
#u355 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u355_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u356_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1905px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 235, 59, 0.988235294117647);
  border:none;
  border-bottom:0px;
  border-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u356 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1905px;
  height:25px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u356 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u356_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u357_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(39, 174, 96, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum Bold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u357 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:101px;
  width:120px;
  height:40px;
  display:flex;
  font-family:'Yekan Bakh FaNum Bold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u357 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u357_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(39, 174, 96, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum Bold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u357.mouseOver {
}
#u357_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
