body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1508px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u563 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1508px;
  height:871px;
}
#u563_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1508px;
  height:871px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u563_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u563_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1508px;
  height:871px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u563_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u564_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1508px;
  height:717px;
}
#u564 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:154px;
  width:1508px;
  height:717px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u564 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u564_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u565_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1508px;
  height:70px;
}
#u565 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:85px;
  width:1508px;
  height:70px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#F60068;
  text-align:right;
}
#u565 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u565_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u566_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1508px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.988235294117647);
  border:none;
  border-bottom:0px;
  border-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum Bold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:right;
}
#u566 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:25px;
  width:1508px;
  height:60px;
  display:flex;
  font-family:'Yekan Bakh FaNum Bold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:right;
}
#u566 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u566_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u567 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:206px;
  width:1353px;
  height:70px;
}
#u568_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
}
#u568 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6C6161;
}
#u568 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u568_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u569_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:35px;
}
#u569 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:0px;
  width:84px;
  height:35px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6C6161;
}
#u569 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u569_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u570_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:35px;
}
#u570 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:0px;
  width:108px;
  height:35px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6C6161;
}
#u570 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u570_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u571_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:35px;
}
#u571 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:0px;
  width:551px;
  height:35px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6C6161;
}
#u571 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u571_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:35px;
}
#u572 {
  border-width:0px;
  position:absolute;
  left:853px;
  top:0px;
  width:289px;
  height:35px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6C6161;
}
#u572 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u572_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u573_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u573 {
  border-width:0px;
  position:absolute;
  left:1142px;
  top:0px;
  width:156px;
  height:35px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6C6161;
}
#u573 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u573_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u574_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:35px;
}
#u574 {
  border-width:0px;
  position:absolute;
  left:1298px;
  top:0px;
  width:48px;
  height:35px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6C6161;
}
#u574 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u574_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u575_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
}
#u575 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:110px;
  height:35px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline ;
  color:rgba(32, 0, 255, 0.996078431372549);
}
#u575 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u575_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:35px;
}
#u576 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:35px;
  width:84px;
  height:35px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(140, 140, 140, 0.996078431372549);
}
#u576 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u576_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u577_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:35px;
}
#u577 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:35px;
  width:108px;
  height:35px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline ;
  color:rgba(32, 0, 255, 0.996078431372549);
}
#u577 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u577_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u578_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:35px;
}
#u578 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:35px;
  width:551px;
  height:35px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(140, 140, 140, 0.996078431372549);
}
#u578 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u578_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:35px;
}
#u579 {
  border-width:0px;
  position:absolute;
  left:853px;
  top:35px;
  width:289px;
  height:35px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(140, 140, 140, 0.996078431372549);
}
#u579 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u579_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u580 {
  border-width:0px;
  position:absolute;
  left:1142px;
  top:35px;
  width:156px;
  height:35px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(140, 140, 140, 0.996078431372549);
}
#u580 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u580_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:35px;
}
#u581 {
  border-width:0px;
  position:absolute;
  left:1298px;
  top:35px;
  width:48px;
  height:35px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(140, 140, 140, 0.996078431372549);
}
#u581 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u581_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u582_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum Bold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u582 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:109px;
  width:120px;
  height:40px;
  display:flex;
  font-family:'Yekan Bakh FaNum Bold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u582 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u582_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum Bold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u582.mouseOver {
}
#u582_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:54px;
}
#u583 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:95px;
  width:61px;
  height:54px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u583 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u583_img.mouseOver {
}
#u583.mouseOver {
}
#u583_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u584_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(246, 0, 104, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u584 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:248px;
  width:21px;
  height:21px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u584 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u584_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:11px;
}
#u585 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:253px;
  width:15px;
  height:11px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u585 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u585_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u586 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:267px;
  width:140px;
  height:117px;
}
#u586_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:117px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u586_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u586_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:117px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u586_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u587 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:35px;
}
#u588 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:140px;
  height:35px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u588 .text {
  position:absolute;
  align-self:center;
  padding:2px 33px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u588_img.mouseOver {
}
#u588.mouseOver {
}
#u588_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:35px;
}
#u589 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:41px;
  width:140px;
  height:35px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u589 .text {
  position:absolute;
  align-self:center;
  padding:2px 33px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u589_img.mouseOver {
}
#u589.mouseOver {
}
#u589_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:6px;
}
#u590 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:111px;
  width:140px;
  height:6px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u590 .text {
  position:absolute;
  align-self:center;
  padding:2px 30px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u590_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:6px;
}
#u591 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:6px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u591 .text {
  position:absolute;
  align-self:center;
  padding:2px 30px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u591_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:35px;
}
#u592 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:76px;
  width:140px;
  height:35px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u592 .text {
  position:absolute;
  align-self:center;
  padding:2px 33px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u592_img.mouseOver {
}
#u592.mouseOver {
}
#u592_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:14px;
}
#u593 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:52px;
  width:18px;
  height:14px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u593 .text {
  position:absolute;
  align-self:center;
  padding:2px 15px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u593_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:14px;
}
#u594 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:18px;
  width:18px;
  height:14px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u594 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u594_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:14px;
}
#u595 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:87px;
  width:18px;
  height:14px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u595 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u595_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u596_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum Bold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#503953;
  text-align:right;
}
#u596 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:111px;
  width:106px;
  height:18px;
  display:flex;
  font-family:'Yekan Bakh FaNum Bold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#503953;
  text-align:right;
}
#u596 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u596_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum Bold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#F60068;
  text-align:right;
}
#u597 {
  border-width:0px;
  position:absolute;
  left:1334px;
  top:181px;
  width:93px;
  height:25px;
  display:flex;
  font-family:'Yekan Bakh FaNum Bold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#F60068;
  text-align:right;
}
#u597 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u597_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u598_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1508px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 235, 59, 0.988235294117647);
  border:none;
  border-bottom:0px;
  border-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u598 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1508px;
  height:25px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u598 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u598_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u599_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(39, 174, 96, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum Bold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u599 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:109px;
  width:120px;
  height:40px;
  display:flex;
  font-family:'Yekan Bakh FaNum Bold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u599 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u599_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(39, 174, 96, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum Bold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u599.mouseOver {
}
#u599_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u600_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 123, 255, 0.996078431372549);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum Bold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u600 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:109px;
  width:160px;
  height:40px;
  display:flex;
  font-family:'Yekan Bakh FaNum Bold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u600 .text {
  position:absolute;
  align-self:center;
  padding:2px 33px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u600_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u601 {
  border-width:0px;
  position:absolute;
  left:584px;
  top:122px;
  width:16px;
  height:16px;
  display:flex;
  font-family:'Yekan Bakh FaNum Bold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#A408BF;
}
#u601 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u601_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
